<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Way Back</title>

    <link rel="icon" type="image/png" href="favicon.png">

    <link href="css/bootstrap-4.6/bootstrap.min.css" rel="stylesheet">
    <link href="plugins/glider/glider.min.css" rel="stylesheet">
    <link href="css/theme.min.css" rel="stylesheet">
    <link href="css/vue-typed-js.css" rel="stylesheet">

  </head>
  <body class="coverage">
    <nav class="navbar navbar-expand-xl navbar-dark navbar-absolute">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="img/base/logo-wayback.svg">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <span class="icon--line icon--line-1"></span>
            <span class="icon--line icon--line-2"></span>
            <span class="icon--line icon--line-3"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAboutUs" role="button" data-toggle="dropdown" aria-expanded="false">
                Sobre nós
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownAboutUs">
                <li><a class="dropdown-item" href="wayback.html">Way Back</a></li>
                <li><a class="dropdown-item" href="clients-and-testimonials.html">Clientes & Depoimentos</a></li>
                <li><a class="dropdown-item" href="associations-and-compliance.html">Parcerias & Compliance</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGlobal" role="button" data-toggle="dropdown" aria-expanded="false">
                Serviços
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownGlobal">
                <li><a class="dropdown-item" href="service.html">Global services</a></li>
                <li><a class="dropdown-item" href="#">International debt collection</a></li>
                <li><a class="dropdown-item" href="#">Legal</a></li>
                <li><a class="dropdown-item" href="#">Informations</a></li>
                <li><a class="dropdown-item" href="#">Consultoria</a></li>
                <li><a class="dropdown-item" href="#">Credit insurance</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="coverage.html">Cobertura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newsroom.html">Notícias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link--primary" href="#">Área do cliente</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="hero hero-dark hero-coverage" id="mapRender">
      <div class="hero--wrapper">
        <div class="hero--inner">
          <div class="hero--content">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-10 col-md-8">
                    <h1 class="text-center heading-display text-brand-blue-secondary">Cobertura</h1>
                    <p class="lead-lg text-white text-center">Operating directly in 135 countries, respecting languages, cultures and local laws.</p>
                    <div class="form-coverage">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="selectYourCountry">Where is your company headquarters?</label>
                          <select class="form-control" id="selectYourCountry" v-model="countryOriginName">
                            <option value="" selected disabled>Select country</option>
                            <option v-for="(country, index) in countries" :key="country.alpha3Code" :value="country.name">{{ country | printName }}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="selectYourDebtCountry">What is the country of the debtor?</label>
                          <select class="form-control" id="selectYourDebtCountry" v-model="countryDebtName">
                            <option value="" selected disabled>Select country</option>
                            <option v-for="(country, index) in countries" :key="country.alpha3Code + index" :value="country.name">{{ country | printName }}</option>
                          </select>
                        </div>
                      </div>
                      <p class="text-center"><button class="btn btn-secondary btn-icon--right" @click.prevent="findConsultant">Find consultant <i class="fas fa-arrow-right"></i></button></p>
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
          <div class="hero--map">
            <div id="globeViz"></div>  
          </div>
          <div class="hero--bottom">
            <div class="container">
              <div class="row">
                <div class="col-card--regions">
                  <div class="card-intro">
                    <div class="card-number">01.</div>
                    <h4>Americas</h4>
                    <!-- infinite loop -->
                    <p class="type-wrap">
                        <span id="typedAmericas" style="white-space:pre;"></span>
                    </p>
                  </div>
                </div>
                <div class="col-card--regions">
                  <div class="card-intro">
                    <div class="card-number">02.</div>
                    <h4>Africa</h4>
                    <p class="type-wrap">
                      <span id="typedAfrica" style="white-space:pre;"></span>
                  </p>
                  </div>
                </div>
                <div class="col-card--regions">
                  <div class="card-intro">
                    <div class="card-number">03.</div>
                    <h4>Asia</h4>
                    <p class="type-wrap">
                      <span id="typedAsia" style="white-space:pre;"></span>
                    </p>
                  </div>
                </div>
                <div class="col-card--regions">
                  <div class="card-intro">
                    <div class="card-number">04.</div>
                    <h4>Oceania</h4>
                    <p class="type-wrap">
                      <span id="typedOceania" style="white-space:pre;"></span>
                    </p>
                  </div>
                </div>
                <div class="col-card--regions">
                  <div class="card-intro">
                    <div class="card-number">05.</div>
                    <h4>Europa</h4>
                    <p class="type-wrap">
                      <span id="typedEurope" style="white-space:pre;"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <section class="modal_countries" v-if="modalCountries" @click="closeModalCountries">
        <div class="modal_container">
          
          <div class="modal_dados">
            <button @click="modalCountries = false" class="modal_fechar"><i class="fas fa-times"></i></button>
            <div class="row">
              <div class="col-md-12">
                <div class="padding-large--top">
                  <h3 class="text-center text-brand-blue-secondary heading-h2 mb-0">Our global network cover this area</h3>
                  <p class="text-center lead-lg text-gray-10">Get your money back, fair, ethical and safe.</p>
                  <p class="text-center"><a href="#" class="btn btn-secondary btn-icon--right">Get a free quotation <i class="fas fa-arrow-right"></i></a></p>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="destinations-area">
                  <div class="destinations-area--header">
                    <div class="destination-origin origin" v-if="fetchedOrigin">
                      <div class="destination-title">
                        <h3>{{countryOrigin[0].name}}</h3>
                        <strong class="capital">{{countryOrigin[0].capital}}</strong>
                        <em>{{countryOrigin[0].latlng[0]}} °N {{countryOrigin[0].latlng[1]}} °E</em>
                      </div>
                      <img :src="countryOrigin[0].flag" class="flagLeft" style="max-width: 24px;">
                    </div>
                    <div class="destination-origin debt" v-if="fetchedDebt">
                      <div class="destination-title">
                        <h3>{{countryDebt[0].name}}</h3>
                        <strong class="capital">{{countryDebt[0].capital}}</strong>
                        <em>{{countryDebt[0].latlng[0]}} °N {{countryDebt[0].latlng[1]}} °E</em>
                      </div>
                      <img :src="countryDebt[0].flag" class="flagRight" style="max-width: 24px;">
                    </div>
                  </div>
                  <div class="destinations-area--body">
                    <div class="destinations-area--content origin">
                      <p>Population <strong>{{countryOrigin[0].population | printLocale}}</strong></p>
                      <p>Languages <strong><span v-for="languages in countryOrigin[0].languages">{{languages.name}}</span></strong></p>
                      <p>Currency <strong><span v-for="currencies in countryOrigin[0].currencies">{{currencies.name}}</span></strong></p> 
                    </div>
                    <div class="destinations-area--content debt">
                      <p>Population <strong>{{countryDebt[0].population | printLocale}}</strong></p>
                      <p>Languages <strong><span v-for="languages in countryDebt[0].languages">{{languages.name}}</span></strong></p>
                      <p>Currency <strong><span v-for="currencies in countryDebt[0].currencies">{{currencies.name}}</span></strong></p> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal_footer">
              <div class="row">
                <div class="col-6">
                  <a @click="modalCountries = false"><strong>Close</strong></a>
                </div>
                <div class="col-6 text-right">
                  <a href="#"><strong>Get free quotation</strong></a>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </section>


    </section>

<!-- slider-solutions -->
<div class="services-component bg-gray-01 padding-large">
  <div class="services-component--inner">
    <div class="services-component--wrapper">
      <div class="services-title">
        <h3>Soluções em recuperação de crédito</h3>
      </div>
      <div class="glider-services--container">
        <div class="glider-services">
          <div class="services-item ">
            <a href="service.html">
              <h4>Preventivo</h4>
              <p>Relembre previamente seu cliente sobre o dia de vencimento de sua fatura.</p>
              <div class="service-item--footer">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
          </div>
          <div class="services-item">
            <a href="service.html">
              <h4>Extrajudicial</h4>
              <p>Possibilidades diversas de contato, considerando o bom relacionamento com o cliente.</p>
              <div class="service-item--footer">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
          </div>
          <div class="services-item">
            <a href="service.html">
              <h4>Judicial</h4>
              <p>Contate nossa equipe de advogados especializada em ajuizamentos de ações legais.</p>
              <div class="service-item--footer">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
          </div>
          <div class="services-item">
            <a href="service.html">
              <h4>Seguro de crédito</h4>
              <p>Garanta o recebimento de seus contratos de forma sustentável e segura.</p>
              <div class="service-item--footer">
                <i class="fas fa-arrow-right"></i>
              </div>
            </a>
          </div>
          
        </div>
        <div class="glider-controls">
          <div class="glider-controls--inner">
            <button aria-label="Previous" class="glider-prev services-prev"><i class="fas fa-arrow-left"></i></button>
            <button aria-label="Next" class="glider-next services-next"><i class="fas fa-arrow-right"></i></button>
            <div role="tablist" id="dots-services" class="dots"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./slider-solutions -->

<!-- News -->
<div class="newsroom--section padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="heading-h2 title-with-link text-primary padding-regular--bottom">Notícias <a href="newsroom.html">Ver todos</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-newsroom">
          <div class="card-image">
            <a href="post.html"><img src="img/general/post-001.jpg" class="img-fluid"></a>
          </div>
          <div class="card-header">
            <span class="post-date">15, april 2020</span>
            <h4><a href="post.html">Young Talents Project</a></h4>
          </div>
          <div class="card-body">
            <p>The 2nd Edition of Apprentice Worldwide 2019 in Brazil was a great success! The event took place last Friday, April12, in the head office of Way Back from...</p>
          </div>
          <div class="card-footer">
            <a href="post.html" class="sm-link">Leia mais</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-newsroom">
          <div class="card-image">
            <a href="post.html"><img src="img/general/post-001.jpg" class="img-fluid"></a>
          </div>
          <div class="card-header">
            <span class="post-date">15, april 2020</span>
            <h4><a href="post.html">Young Talents Project</a></h4>
          </div>
          <div class="card-body">
            <p>The 2nd Edition of Apprentice Worldwide 2019 in Brazil was a great success! The event took place last Friday, April12, in the head office of Way Back from...</p>
          </div>
          <div class="card-footer">
            <a href="post.html" class="sm-link">Leia mais</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-newsroom">
          <div class="card-image">
            <a href="post.html"><img src="img/general/post-001.jpg" class="img-fluid"></a>
          </div>
          <div class="card-header">
            <span class="post-date">15, april 2020</span>
            <h4><a href="post.html">Young Talents Project</a></h4>
          </div>
          <div class="card-body">
            <p>The 2nd Edition of Apprentice Worldwide 2019 in Brazil was a great success! The event took place last Friday, April12, in the head office of Way Back from...</p>
          </div>
          <div class="card-footer">
            <a href="post.html" class="sm-link">Leia mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./News -->

<!-- testimonials -->
<section class="testimonials--section padding-large">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-9">
        <div class="testimonials dark-gradient rounded-lg">
          <div class="testimonials--inner">
            <div class="testimonials--header">
              <h3 class="heading-h2 text-white">Testimonials</h3>
            </div>
            <div class="glider-testimonials--contains glider-default">
              <div class="testimonials--slider glider-testimonials">
                <!-- slider item-->
                <div class="testimonial--item">
                  <div class="testimonial--author d-flex">
                    <img src="img/assets/testimonials/domenica.jpg" title="" class="img-rounded">
                    <div class="testimonial--name">
                      <h3 class="heading-h4">Domenica Ascencão Mathias</h3>
                      <h4 class="heading-h6">Brazil</h4>
                    </div>
                  </div>
                  <div class="testimonial--body">
                    <p>We outsourced Way Back/TCM Brazil an write-off fifty-case portfolio of Bolivian Debtors and our experience has been extremely positive, considering that our operation in Bolivia has been recently cancelled and Way Back/TCM Brazil has succeeded on skip tracing many debtors we had been searching by ourselves without any effective results. Debt collection efforts have included personal visits and this has been fundamental to bring back debtors to our table of negotiation.</p>
                  </div>
                </div>
                <!-- ./slider item-->
                <!-- slider item-->
                <div class="testimonial--item">
                  <div class="testimonial--author d-flex">
                    <img src="img/assets/testimonials/shaun.jpg" title="" class="img-rounded">
                    <div class="testimonial--name">
                      <h3 class="heading-h4">Shaun Duncan</h3>
                      <h4 class="heading-h6">United States</h4>
                    </div>
                  </div>
                  <div class="testimonial--body">
                    <p>We have known the team at Way Back Cobranças e Serviços Ltda / TCM Brazil since 2003 and they have assisted us with the recovery of our outstanding debts as well as providing us with monthly feedback on the status of our claims. They have extensive knowledge in all aspects of debt recovery process in Brazil and I would have no hesitation in recommending their services to anyone that requires professional debt recovery services in Brazil.</p>
                  </div>
                </div>
                <!-- ./slider item-->
                
              </div>
              <button aria-label="Previous" class="glider-prev tes-prev"><i class="fas fa-arrow-left"></i></button>
              <button aria-label="Next" class="glider-next tes-next"><i class="fas fa-arrow-right"></i></button>
              <div class="counter-glider">
                <div class="counter-glider--inner">
                  <div class="counter--actual" id="counter-tes-actual"></div>
                  <div class="counter--size" id="counter-tes-size"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./testimonials -->


    <!-- wayback in numbers -v2 -->
    <section class="wayBackinNumbers--section padding-large">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="wayBackinNumbers wayBackinNumbers-v2 rounded-xl">
              <div class="wayBackinNumbers--inner">
                <div class="wayBackinNumbers--row">
                  <div class="itemNumberCompany">
                    <div class="dataNumber"><span>1</span>M</div>
                    <div class="dataLabel"><span>Clientes reativados</span></div>
                  </div>
                  <div class="itemNumberCompany">
                    <div class="dataNumber">+<span>3</span>M</div>
                    <div class="dataLabel"><span>Negociações bem sucedidas</span></div>
                  </div>
                  <div class="itemNumberCompany">
                    <div class="dataNumber"><span>650</span></div>
                    <div class="dataLabel"><span>Contratos ativos</span></div>
                  </div>
                  <div class="itemNumberCompany">
                    <div class="dataNumber"><span>XX</span></div>
                    <div class="dataLabel"><span>Dados</span></div>
                  </div>
                </div>
                <div class="wayBackinNumbers--line"></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- ./wayback in numbers -->

<!-- contact form -->
<section class="contact-form--section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-form bg-gray-01 rounded-xl padding-huge">
          <div class="contact-form--inner">
            <div class="row justify-content-center">
                <div class="col-md-7">
                  <h3 class="heading-h2 text-secondary">Contate-nos</h3>
                  <p class="lead text-primary"><strong>Insira seus dados e retornaremos em breve.</strong></p>

                  <form class="form-light needs-validation" novalidate>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" required>
                        <div class="invalid-feedback">
                          Por favor preencha o campo.
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" required>
                        <div class="invalid-feedback">
                          Por favor preencha o campo.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="phone">Telefone</label>
                        <input type="tel" class="form-control" id="phone">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="company">Empresa</label>
                        <input type="text" class="form-control" id="company">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message">Mensagem</label>
                      <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="acceptTerms" required>
                      <label class="form-check-label" for="acceptTerms">Li e aceito a <a href="#">política de privacidade</a>.</label>
                      <div class="invalid-feedback">
                          Você deve aceitar a política de privacidade para enviar o formulário.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-icon--right">Enviar mensagem <i class="fas fa-arrow-right"></i></button>
                  </form>

                </div>
              </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
<!-- ./contact form -->

<!-- footer -->
<div class="footer" id="footer-page">
  <div class="footer-section footer-section--01">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="navbar-brand navbar-brand--footer" href="index.html">
            <img src="img/base/logo-wayback.svg">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="card-hq">
                <h5>Unidade I - Brasil</h5>
                <address>
                  Rua Desembargador Paulo Costa, 33, <br>
                  Parque da Mooca, <br>
                  CEP 03122-040 – São Paulo/SP – Brasil
                </address>
                
                <div class="phones">
                  <ul>
                    <li><a href="tel:+551135258784">+55 (11) 3525 8784</a></li>
                    <li><a href="tel:+551121489100">+55 (11) 2148 9100</a></li>
                  </ul>
                </div>
                <a href="mailto:comercial@wayback.com.br" class="card-mail">info@wayback.com.br</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-hq">
                <h5>Unidade II - Brasil</h5>
                <address>
                  Rua Padre Raposo, 39 <br>Alto da Mooca <br>03122-040 – São Paulo/SP – Brasil
                </address>
                <div class="phones">
                  <ul>
                    <li><a href="tel:+551135258784">+55 (11) 3525 8784</a></li>
                    <li><a href="tel:+551121489100">+55 (11) 2148 9100</a></li>
                  </ul>
                </div>
                <a href="mailto:contacto@waybackspain.com" class="card-mail">info@wayback.com.br</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card-hq">
                <h5>Florida</h5>
                <address>
                  1101 Brickell Avenue - <br>
                  South Tower, 8th Floor - Miami, <br>
                  Florida 33131 - USA
                </address>
                <div class="phones">
                  <ul>
                    <li><a href="tel:+13054241676">+1 305 424 1676</a></li>
                    <li><a href="tel:+17868971483">+1(786) 897 1483</a></li>
                  </ul>
                </div>
                <a href="mailto:info@wayback-usa.com" class="card-mail">info@wayback-usa.com</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-hq">
                <h5>Unidade Espanha</h5>
                <address>
                  Jorge Juan, 92, 4 ext izq<br>
                  28009 - Madrid - Spain
                </address>
                <div class="phones">
                  <ul>
                    <li><a href="tel:+34685252751">+34 685 252 751</a></li>
                    <li><a href="tel:+34695672076">+34 695 672 076</a></li>
                  </ul>
                </div>
                <a href="mailto:info@wayback-usa.com" class="card-mail">contacto@waybackspain.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="social-media--footer__wrapper">
            <ul class="social-media social-media--footer social-media-links">
              <li>
                <a href="https://www.facebook.com/waybackbr/"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/waybackbr"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/wayback/"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCfs7YNvTrSPa2G03_4sx_zA"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    
  </div>
  <div class="footer-section footer-section--02 padding-large">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <div class="copyright-content">
            2021 © Wayback - Todos os direitos reservados
            <ul class="copyright-menu">
              <li><a href="privacy-policy.html">Política de privacidade</a></li>
              <li><a href="cookies-policy.html">Política de Cookies</a></li>
            </ul>
            </div>
        </div>
        <div class="col-md-3 align-self-center justify-content-md-end author-link--wrapper">
            <a class="author-link align-self-end" href="http://febinfo.com.br/" title="Criação e desenvolvimento por FEB Informática">FEB Informática</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./ footer -->

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/bootstrap-4.6/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/e76c8757a2.js" crossorigin="anonymous"></script>
    <!-- development -->
    <script src="js/vendor/vue.js"></script>
    <!-- 
      production 
    <script src="js/vendor/vue.js"></script>
    -->
    <script src="js/vendor/typed.min.js"></script>

    <script src="plugins/glider/glider.min.js"></script>


    <script src="js/frontend.js"></script>
    

    <script src="//unpkg.com/d3-dsv"></script>
    <script src="//unpkg.com/index-array-by"></script>
    <script src="//unpkg.com/globe.gl"></script>

    <script src="js/coverage.js"></script>

      
  </body>
</html>
